:root {
  --ecru: #D8BD8A;
  --redwood: #AA5042;
  --wine: #753742;
  --mortuum: #4F3130;
}

html {
    height: 100%;
}

body {
  background-color: var(--ecru);
    height: 100%;
    width: 100%;

  margin: 0px;

  font-family: "Audiowide", sans-serif;
  font-size: 20px;
  color: var(--ecru);
}

object {
  pointer-events: none;
}

button, input[type="submit"], input[type="reset"] {
	background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
}

h3 {
    margin: 5px 0 5px 0;
}

a {
    color: var(--redwood);
}

/** ------------------------------------ **/
/** navigation **/
.navbarHolder {
    display:flex;
    flex-direction: column;
    position: sticky;
    top:0;
    z-index: 2;
    width: 100%;
    font-size: 24px;
}

.navbar {
    padding-top: 5px;
    padding-bottom: 15px;
    padding-left: 50px;
    padding-right: 50px;

    position: sticky;
    top: 0;
    z-index: 2;

    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;

    background-color: var(--wine);
}

.navbar > div {
  display: flex;
    flex-wrap: wrap;
  align-items: center;
  justify-content: right;
  gap: 30px;
}

.pages {
  display: flex;
    flex-wrap: wrap;
  align-items: center;
  justify-content: right;
  gap: 40px;
}

.icons {
  display: flex;
    flex-wrap: wrap;
  align-items: center;
  justify-content: right;
  gap: 20px;
}

/** ------------------------------------ **/
/** project references **/
.sortOption {
    background-color: var(--redwood);
    color: var(--ecru);

    display: flex;
    justify-content: center;
    padding: 5px;

    border-radius: 10px;
    box-shadow: 5px 5px rgba(0, 0, 0, 0.5);
}

.sortSelected {
    background-color: var(--ecru);
    color: var(--redwood);
}

.flexbox {
  display: flex;
  flex-direction: column;

  align-items: center;
  padding: 20px;
  gap: 20px;
}

.content {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 20px;

    padding: 30px;
    max-width: 70%;
    z-index: 0;

    background-color: var(--mortuum);
    border-radius: 10px;
    flex-wrap: wrap;

    font-size: 20px;
    color: var(--ecru);
    text-decoration: none;

    box-shadow: 15px 15px rgba(0, 0, 0, 0.5);
}

a.content {
    transition: transform 0.2s ease, box-shadow 0.2s ease;
}

a.content:hover {
    transition: transform 0.2s ease, box-shadow 0.2s ease;

    transform: scale(1.15);
    z-index: 1;
    box-shadow: 15px 15px rgba(0, 0, 0, 0.5), 0px 0px 0px 5px var(--ecru) inset, 0px 0px 0px 15px var(--redwood) inset;
}

.content > img {
    box-shadow: 10px 10px rgba(0, 0, 0, 0.5);
    height: 275px;
    border-radius: 10px;
}

.content > div {
    max-width: 500px;
    min-width: 100px;
    justify-content: center;
}

.content > div > p {
    text-align: left;
}

/** ------------------------------------ **/
/** tags **/
.tag_container {

    font-size: 16px;

    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 10px;
}

.tag_container > div {
    box-shadow: 5px 5px rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    padding: 10px;
}

/** ------------------------------------ **/
/** project descriptions **/
.project {
    z-index: 0;
    height: calc(100% - 119px);

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: stretch;
}

.projectContent {
    display: flex;
    flex-direction: column;
    gap: 25px;
    margin: 30px;
}

.projectContent > div {
    padding: 20px;

    background-color: var(--mortuum);
    border-radius: 10px;

    font-size: 20px;
    color: var(--ecru);
    text-decoration: none;

    box-shadow: 15px 15px rgba(0, 0, 0, 0.5);
}

.projectContent > div > div {
    display: flex;
    gap: 15px;
    flex-direction: row;
    justify-content: space-between;
}

.imgarray {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-wrap: nowrap; /** breaks if too many elements **/

    height: 100%;

    padding: 0 20px 0 20px;
    gap: 20px;
}

.imgarray > img {
    display: block;
    max-height: 27vh;
    height: 300px;
    width: auto;

    border-radius: 10px;
    box-shadow: 10px 10px rgba(0, 0, 0, 0.5);
}

/** ------------------------------------ **/
/** background elements **/
.parallax {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    height: 2000px;
    z-index: -10;
}

.square {
  position: fixed;
  height: 50px;
  width: 50px;
  background-color: #555;
  border-radius: 5px;

  z-index: -10;
  filter: blur(8px);
}

.pillar {
  position: fixed;
  height: 120%;
  width: 5%;
  background-color: #555;
  z-index: 1;
  transform: rotate(180deg);
}

.bar {
  position: fixed;
  height: 25px;
  width: 100%;
  background-color: #555;
  z-index: -5;
}